.DS_Store
stock/__pycache__/
stock/migrations/__pycache__
lelewu/__pycache__
ymatou/__pycache__
ymatou/migrations/__pycache__
node_modules/
dist/
static/ckeditor
gifs/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea
