.DS_Store
stock/__pycache__/
stock/migrations/
lelewu/__pycache__
ymatou/__pycache__
ymatou/migrations/__pycache__
frontend/node_modules/
frontend/dist/
gifs/
frontend/npm-debug.log
venv/
*.log
*.pyc
